.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partItem {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: box-shadow 0.3s ease;
  text-align: left;
}

.partItem:last-child {
  margin-bottom: 0;
}

.partItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.partsBlock {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.partsBlock h3 {
  margin-bottom: 10px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.partItemClosing {
  animation: fadeOutDown 0.5s forwards;
}

.categoryTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
  padding: 5px;
  transition: opacity 0.3s;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.categoryTitle:hover {
  opacity: 1;
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.parts {
  font-weight: 600;
  margin-bottom: 5px;
}

.partImage {
  width: 100px;
  height: 100px;
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
}
